<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-dark">
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div
        class="card border-0 shadow-lg text-center p-5 rounded-5"
        style="max-width:500px; width:100%; background:rgba(255,255,255,.9);"
      >

        <h2 class="fw-bold mb-4">Welcome Home Page</h2>

        <% if(user){ %>

        <a href="/profile" class="btn btn-success btn-lg rounded-pill">
          View Profile
        </a>

        <% } else { %>

        <a href="/auth/login" class="btn btn-primary btn-lg rounded-pill">
          Login Now
        </a>

        <% } %>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>