<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-dark">
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div
        class="card border-0 shadow-lg text-center p-5 rounded-5"
        style="
          max-width: 500px;
          width: 100%;
          background: rgba(255, 255, 255, 0.9);
        "
      >
        <div class="display-1 mb-3">🔐</div>

        <h2 class="fw-bold mb-3">Login</h2>

        <p class="text-muted mb-4">Continue using your Google Account</p>

        <a
          href="/auth/google/login"
          class="btn btn-danger btn-lg rounded-pill w-100"
        >
          Login with Google
        </a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
